.contact_container {
  height: 6500px;
  background-size: cover;
  background-position: top;
  background-image: url(../img/donetwo.png);

  z-index: 1;
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
}

.auth {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.authtwo {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.firstname {
  padding-top: 20px;
  padding-left: 30px;
}
.lastname {
  padding-top: 20px;
  padding-left: 5px;
}

.email {
  padding-left: 30px;
}

.telephone {
  padding-left: 5px;
}
select {
  width: 30em;
}
.select {
  padding-left: 40px;
}
.text {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
input[type="email"] {
  border: none;
  border-bottom: 2px solid black;
}
input[type="tel"] {
  border: none;
  border-bottom: 2px solid black;
}
.button {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
}
.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}
.bottomerror {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  display: none;
  text-align: center;
  padding-top: 10px;
}
.submit {
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#submit {
  border: 2px solid black;
}
#firstname__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#lastname__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#email__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#telephone__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#text__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

.contacts_white_background {
  background-color: white;
  max-width: 617px;
  width: 100%;
}

.contacts_white_background h4 {
  display: block;
  font-family: Cormorant;
  font-size: 1.05vw;
  font-weight: 1;
  letter-spacing: 5.07px;
  margin-left: 33px;
  margin-top: 87px;
  margin-bottom: 90px;
  padding-right: 410px;
  line-height: 2.9vh;
}
.contacts_white_background_two {
  background-color: white;
  max-width: 617px;
  width: 100%;
}

.contacts_white_background_two h4 {
  display: block;
  font-family: Cormorant;
  font-size: 1.05vw;
  font-weight: 1;
  letter-spacing: 3.1px;
  margin-left: 33px;
  margin-top: 80px;
  margin-bottom: 90px;

  line-height: 2.9vh;
}

@media (max-width: 970px) {
  .services_center_img {
    display: block;
  }
  .img_container_right {
    margin: 0 auto;
    padding-top: 100px;
  }
  .contacts_white_background h4 {
    display: block;
    font-family: Cormorant;
    font-size: 5.05vw;
    font-weight: 1;
    letter-spacing: 5.07px;
    margin-left: 33px;
    margin-top: 87px;
    margin-bottom: 90px;
    line-height: 5.9vh;
    padding-right: 10px;
  }
  .contacts_white_background_two h4 {
    padding-right: 20px;
    font-size: 5.05vw;
    font-weight: 1;
    letter-spacing: 5.07px;
    line-height: 9.9vh;
  }
  .img_container_left {
    margin: 0 auto;
    padding-top: 100px;
  }
}
