.contact_container {
  height: 6500px;
  background-size: cover;
  background-position: top;
  background-image: url(../img/donetwo.png);

  z-index: 1;
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
}

.auth {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.authtwo {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.firstname {
  padding-left: 10px;
}
.lastname {
  padding-left: 10px;
}

.email {
  padding-left: 10px;
}

.telephone {
  padding-left: 10px;
}
select {
  width: 30em;
}
.select {
  padding-left: 30px;
}
.text {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
input[type="email"] {
  border: none;
  border-bottom: 2px solid black;
}
input[type="tel"] {
  border: none;
  border-bottom: 2px solid black;
}
.button {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
}
.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}
.bottomerror {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  display: none;
  text-align: center;
  padding-top: 10px;
}
.submit {
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#submit {
  border: 2px solid black;
}
#firstname__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#lastname__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#email__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#telephone__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
#text__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
