<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/gallery.css" />
  </head>
  <body>
    <div class="gallery_container">
      <div class="img_container">
        <img src="../img/Vector_Smart_Object (2).png" />
      </div>
      <div class="gallery_text">
        <h4>Wedding Table Decoration</h4>
        <h3>Bouquet of Roses</h3>
      </div>
    </div>
    <div class="background_container"></div>
  </body>
</html>
