<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/locations.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/services.css" />
  </head>
  <body>
    <div class="locations_container">
      <div class="header">
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>
          <ul class="menu__box">
            <li><a class="menu__item" href="./services.html">Services</a></li>
            <li><a class="menu__item" href="#">Locations</a></li>
            <li><a class="menu__item" href="./contact.html">Contact</a></li>
            <li><a class="menu__item" href="aboutus.html">About Us</a></li>
            <li><a class="menu__item" href="gallery.html">Gallery</a></li>
          </ul>
        </div>
        <div class="english"><span class="english_text">En</span></div>
        <div class="italian"><span class="italian_text">It</span></div>
      </div>
      <div class="services_top_logo">
        <img src="../img/_Art_Flowers_logo.png" alt="" />
      </div>
      <div class="locations_center_text">
        <span>Locations</span>
      </div>
      <div class="locations_center_text_two">
        <span
          >Sed ut perspiciatis unde omnis iste natus error sit <br />
          voluptatem accusantium</span
        >
      </div>
      <div class="locations_center_wedding">Milano</div>
      <div class="services_center_img">
        <div class="img_container_right">
          <div class="locations_white_background">
            <h3>
              - <br />

              Opening Hours
            </h3>
            <h4>
              Monday &thinsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00am-5:00pm
              <br />Tuesday &nbsp;&nbsp;&nbsp;&nbsp; 8:00am-5:00pm
              <br />Wednesday &nbsp;&nbsp;8:00am-5:00pm <br />Thursday
              &thinsp;&nbsp;&nbsp;&nbsp;8:00am-5:00pm
              <br />Friday&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;8:00am-5:00pm <br />Saturday&thinsp;&nbsp;&nbsp;&nbsp;
              8:00am-5:00pm <br />Sunday&thinsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;Closed
            </h4>
          </div>
          <div class="locations_white_background_two">
            <h3>
              - <br />

              Address
            </h3>
            <h4>
              Via Monte Napoleone, 5,
              <br />
              20121 Milano MI, Italy
              <br />
              +39 02 771271
              <br />
              artflowersgallery@gmail.com
            </h4>
          </div>
        </div>
        <div class="img_container_left">
          <div><img src="../img/Layer_7.png" /></div>
          <div class="locations_white_background_three">
            <h3>
              - <br />
              Fusce eget mi ut leo<br />
              sodales interdum sit amet <br />
              ut nunc. Mauris vitae <br />tellus id quam.
            </h3>
            <h4>
              Sed ut perspiciatis unde omnis iste natus error sit<br />
              voluptatem accusantium doloremque laudantium, <br />
              totam rem aperiam, eaque ipsa quae ab illo <br />
              inventore veritatis et quasi architecto beatae vitae <br />dicta
              sunt explicabo.
            </h4>
          </div>
        </div>
      </div>
      <div class="locations_bottom_res">Porto Rotondo</div>
      <div class="services_bottom_img">
        <div class="img_container_bottom_right">
          <div class="locations_white_bottom_background_four">
            <h3>
              - <br />

              Opening Hours
            </h3>
            <h4>
              Monday &thinsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00am-5:00pm
              <br />Tuesday &nbsp;&nbsp;&nbsp;&nbsp; 8:00am-5:00pm
              <br />Wednesday &nbsp;&nbsp;8:00am-5:00pm <br />Thursday
              &thinsp;&nbsp;&nbsp;&nbsp;8:00am-5:00pm
              <br />Friday&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;8:00am-5:00pm <br />Saturday&thinsp;&nbsp;&nbsp;&nbsp;
              8:00am-5:00pm <br />Sunday&thinsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;Closed
            </h4>
          </div>
          <div class="locations_white_bottom_background_five">
            <h3>
              - <br />

              Address
            </h3>
            <h4>
              Via Monte Napoleone, 5,
              <br />
              20121 Milano MI, Italy
              <br />
              +39 02 771271
              <br />
              artflowersgallery@gmail.com
            </h4>
          </div>
        </div>
        <div class="img_container_bottom_left">
          <div class=""><img src="../img/Layer_7.png" /></div>
          <div class="locations_white_background_six">
            <h3>
              Fusce eget mi ut leo <br />sodales interdum sit amet<br />
              ut nunc. Mauris vitae<br />
              tellus id quam.
            </h3>
            <h4>
              Sed ut perspiciatis unde omnis iste natus error sit
              <br />voluptatem accusantium doloremque laudantium, <br />totam
              rem aperiam, eaque ipsa quae ab illo <br />inventore veritatis et
              quasi architecto beatae vitae <br />dicta sunt explicabo.
            </h4>
          </div>
        </div>
      </div>
      <div class="locations_bottomc"><h3>© Art Flowers Gallery 2019</h3></div>
    </div>
  </body>
</html>
